<!DOCTYPE html>
<html>
<head>
  <title>EntityMaintenance</title>
  <%= stylesheet_link_tag    "entity_maintenance/application", media: "all" %>
  <%= javascript_include_tag "entity_maintenance/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
