%h1
  = "New contact info for #{@entity.class == EntityMaintenance::Person ? @entity.full_name : @entity.name}"

= simple_form_for @contact_info, :url => entity_contact_infos_path(@entity), :html => { :class => 'form' } do |form|
  = render 'form', :form => form, :entity => @entity, :cancel_url => entity_path(@entity)
