%h1
  = "New address for #{@entity.class == EntityMaintenance::Person ? @entity.full_name : @entity.name}"

= simple_form_for @address, :url => entity_addresses_path(@entity), :html => { :class => 'form' } do |form|
  = render 'form', :form => form, :cancel_url => entity_path(@entity)
