%h1 New #{@entity.type == EntityMaintenance::Person.to_s ? 'Person' : 'Organization'}

= simple_form_for @entity, :url => entities_path, :html => { :class => 'form' } do |form|
  - if @entity.type == EntityMaintenance::Person.to_s
    = render 'person_form', :form => form, :cancel_url => entities_path
  - elsif @entity.type == EntityMaintenance::Organization.to_s
    = render 'organization_form', :form => form, :cancel_url => entities_path
